body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    height: min(7.25vh, 15vw);
    background: var(--accent-color);
    border-radius: var(--roundness);
    margin: min(1vh, 5vw) min(5vh, 5vw) 0 min(5vh,5vw);
    z-index: 1000;
    /* Didn't like the look/feel, but may reuse later */
    /*border-bottom: 3px solid var(--sub-color);*/
}

#header {
    width: calc(100% - min(10vh, 10vw));
    transition: var(--transition);
}

#githubVisible {
    opacity: 1;
    display: inline;
}

.githubHidden {
    opacity: 0;
    display: none;
}

#linkedinVisible {
    opacity: 1;
    display: inline;
}

#linkedinHidden {
    opacity: 0;
    display: none;
}

#resumeVisible {
    opacity: 1;
    display: inline;
}

#resumeHidden {
    opacity: 0;
    display: none;
}

/* Footer */

footer {
    margin-top: min(10vh, 10vw);
    margin-bottom: min(2vh, 4vw);
    width: 100%;
    color: var(--text-color);
    padding: 1.5em 10vw min(5vw, 5vh) 10vw;
    display: flex;
}

#footer-left {
    opacity: 1;
    float: left;
    text-align: left;
    font-size: min(2vh, 4vw);
    width: 100%;
}

#footer-left .clickButton {
    padding: 0.2em 0.5em 0.2em 0.5em;
    min-width: 7em;
    margin-bottom: 0.5em;
    margin-right: 0.25em;
    border-radius: var(--roundness);
    background-color: rgba(0,0,0,0.15);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color: var(--highlight-color);
    font-weight: var(--button-weight);
    text-align: center;
    transition: var(--return);
    display: inline-block;
    cursor: pointer;
    opacity: 1;
}

#footer-left .clickButton img {
    height: 2vh;
    width: 2vh;
    margin-right: 0em;
    transition: var(--return);
    opacity: 1;
}

#footer-left .clickButton:hover img {
    transition: var(--return);
}

#footer-left .clickButton:hover {
    background-color: var(--highlight-color);
    color: var(--button-color);
    transform: translateY(-5px);
    transition: var(--return);
}

#footer-left .clickButtonContact {
    width: 10em;
}

#footer-left #clickButtonTheme img {
    height: 2vh;
    margin-right: 0.15em;
    padding-bottom: 0.15em;
}

/* Header */

#header-left {
    padding-bottom: 0px;
    display: inline-block;
    font-size: min(5vh, 10vw);
    max-width: 50%;
    text-decoration: none;
}

#header-right {
    float: right;
    padding-right: min(3.5vw, 2vh);
    padding-top: min(1.5vh, 3vw);
    text-decoration: none;
}

#header-right a {
    text-decoration: none;
    height: 100%;
}

#header-right .icon:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

/* Front-Page */

#next-page {
    margin-bottom: calc(20em - 10vw);
    text-align: center;
    color: grey;
    font-size: min(4vh, 5vw);
    font-weight: 700;
}

#title {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 0.5em;
    cursor: pointer;
    transition: var(--return);
}

#title:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

#titleHidden {
    color: transparent;
    display: none!important;
    cursor: pointer;
}

#body-text {
    margin: 5px;
    padding-left: 10px;
    margin-top: min(100vw, 30vh);
    font-size: max(5em, 5vw);
    color: var(--text-color);
    text-align: center;
    z-index: 10;
}

#container {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: var(--roundness);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#about-me {
    font-size: min(5vw, 5vh);
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-skills {
    margin-top: clamp(100px, 30vh, 200px);
    font-size: min(5vw, 5vh);
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-skills .skills-alt {
    height: calc(4vw + 2em + 20px);
    padding-left: 0;
    text-align: center;
}

#my-skills img {
    height: calc(4vw + 2em);
    padding-left: 1vw;
}

.skills {
    text-align: center;
    padding-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* My Portfolio */

#my-portfolio {
    margin-top: clamp(100px, 30vh, 200px);
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-portfolio #container {
    font-size: min(5vw, 5vh);
}

#my-portfolio #portfolio-items {
    width: 80%;
    margin: 1.5em auto;
}

#my-portfolio #portfolio-items .portfolio-obj {
    width: 100%;
    max-width: min(85vw, 45vh);
    font-size: min(5vw, 3.5vh);
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.15);
    display: inline-grid;
    margin: 0 0.25em 0.5em 0.25em;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#my-portfolio #portfolio-items .portfolio-obj img {
    width: 95%;
    margin: auto;
    margin-top: 2.5%;
    border-radius: var(--roundness);
}

.portfolio-read-text {
    font-size: min(3vw, 2vh);
    text-align: left;
    font-weight: 500;
    padding-left: 0.5em;
    height: 12em;
    overflow-y: scroll;
    margin: 0 2.5% 0 2.5%;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom {
    display: inline-block;
}

#my-portfolio #portfolio-items .portfolio-obj .live-demo {
    text-align: center;
    float: left;
    width: 44.5%;
    font-size: min(calc(3vw + 0.5rem), 3vh);
    margin: 2.5% 0 2.5% 2.5%;
}

#my-portfolio #portfolio-items .portfolio-obj .GitHub {
    text-align: center;
    float: right;
    width: 46.5%;
    font-size: min(calc(3vw + 0.5rem), 3vh);
    margin: 2.5% 2.5% 2.5% 0;
}

#my-portfolio #portfolio-items .portfolio-obj a {
    border-radius: var(--roundness);
    background-color: var(--sub-color);
    text-decoration: none;
    color: var(--bg-color);
    width: 100%;
    display: block;
    cursor: pointer;
    transition: var(--return);
}

#my-portfolio #portfolio-items .portfolio-obj a:hover {
    background-color: var(--accent-color);
    transform: translateY(-3px);
    transition: var(--transition);
}

.read-text {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: min(3vh, 3.5vw);
    font-weight: 500;
    text-align: left;
    padding-top: 30px;
}

/* Icons */

.icon {
    filter: invert(1);
    cursor: pointer;
    height: min(4vh, 10vw);
    transition: 0.5s;
    padding-right: min(2vw, 1vh);
    text-decoration: none;
}

.icon:hover, .icon:focus {
    transition: var(--transition);
    text-decoration: none;
}

#closeIcon {
    height: min(4vh, 10vw);
    filter: invert(1);
    cursor: pointer;
    transition: 0.5s;
    padding: min(1vw, 0.5vh) 0 min(1vw, 0.5vh) 0;
    text-decoration: none;
    transform: scaleX(1);
}

#header-right #hideButtonDiv {
    margin: min(3vh, 3vw) 0 min(3vh, 3vw) 0;
    height: 100%;
}

/* Close buttons */

#contactTop .close {
    filter: invert(1);
    transition: var(--transition);
    cursor: pointer;
    height: 2vh;
    float: right;
    vertical-align: top;
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}

#themeTop .close {
    filter: invert(1);
    transition: var(--transition);
    cursor: pointer;
    height: 2vh;
    float: right;
    vertical-align: top;
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}

#versionTop .close {
    filter: invert(1);
    transition: var(--transition);
    cursor: pointer;
    height: 2vh;
    float: right;
    vertical-align: top;
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}

/* Contact */

#contactWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--sub-color);
}

#contactWrapper #contact {
    width: 85vw;
    height: 75vh;
    background: var(--bg-color);
    border-radius: var(--roundness);
}

#contactWrapper #contact #contactTop {
    width: 100%;
    display: inline-block;
}

#contactWrapper #contact .contactTitle {
    font-size: 5vh;
    display: inline-block;
    vertical-align: top;
    padding-left: 0.35em;
}

#contactWrapper #contact #contactBottom {
    margin-top: 2vh;
    text-align: center;
    overflow-y: auto;

}

#contactWrapper input[type=text], select {
    width: 90%;
    max-width: 800px;
    height: 5vh;
    background-color: var(--contactBg-color);
    border-radius: var(--roundness);
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 2vh;
    color: var(--contactText-color);
}

#contactWrapper input[type=text] ::placeholder {
    color: var(--sub-color);
}

#contactWrapper input[type=text]:focus {
    text-decoration: none;
    font-size: 2vh;
}

#contactWrapper input[type=submit] {
    margin-top: 2vh;
    font-size: 2vh;
    width: 12vh;
    height: 4vh;
    background-color: var(--contactSubmit-color);
    border: none;
    outline: none;
    border-radius: var(--roundness);
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
    font-weight: 700;
    transition: var(--return);
}

#contactWrapper input[type=submit]:hover {
    transform: translateY(-2px);
    transition: var(--transition);
}

#contactBottom textarea {
    width: 90%;
    max-width: 800px;
    height: 40.5vh;
    background-color: var(--contactBg-color);
    border-radius: var(--roundness);
    border: none;
    outline: none;
    resize: none;
    font-size: 2vh;
    color: var(--contactText-color);
}

::placeholder {
    color: var(--sub-color);
}

label {
    font-size: 2vh;
}

/* Theme */

#themeWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#themeWrapper #theme {
    width: 85vw;
    height: 75vh;
    background: var(--bg-color);
    border-radius: var(--roundness);
}

#themeWrapper #theme #themeTop {
    width: 100%;
    display: inline-block;
    align-items: center;
}

#themeWrapper #theme .themeSearch {
    align-items: center;
    width: 90%;
    display: inline-block;
    color: var(--searchInput-color);
}

#themeWrapper #theme #themeTop .themeSearch input {
    display: inline-block;
    width: 85%;
    background: var(--bg-color);
    color: var(--searchInput-color);
    border: none;
    outline: none;
    font-size: 2.75vh;
    padding-top: 0.5em;
    padding-left: 0.5em;
    vertical-align: baseline;
}

#themeWrapper #theme #themeTop .themeSearch ::placeholder {
    color: var(--search-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: brightness(10%) invert(1);
    height: 2vh;
    padding-left: 2vh;
    vertical-align: baseline;
}

#themeWrapper #theme #themeBottom {
    margin-top: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 67.35vh;
}

#themeWrapper #theme #themeBottom .entry {
    width: 110%;
    padding-left: 2em;
    padding-bottom: 0.25em;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 2.5vh;
    transition: var(--transition);
    color: var(--sub-color);
    font-weight: 300;
}

#themeWrapper #theme #themeBottom .entry:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: var(--transition);
}

#themeWrapper #theme #themeBottom #selected {
    color: var(--accent-color);
}

/* Version Page */

#versionWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#versionWrapper #versionContainer {
    width: 85vw;
    height: 75vh;
    background: var(--bg-color);
    border-radius: var(--roundness);
}

#versionWrapper #versionContainer #versionTop {
    width: 100%;
    height: 2em;
}

#versionBottom {
    padding: 0 2em 0 2em;
    height: calc(73vh - 2em);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#versionBottom .versionTitle {
    font-size: 6vh;
    font-weight: 700;
}

#versionBottom .versionNotes {
    font-weight: 300;
    font-size: 2vh;
}

#versionBottom .versionTitle .releaseDate {
    font-size: 0.4em;
    font-weight: 300;
    max-width: 50%;
    float: right;
    margin-top: 0.45em;
    color: var(--sub-color);
}

/* Hide Button */

#githubVisible {
    opacity: 1;
    display: inline;
    transition: 10s;
}

#githubHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

#linkedinVisible {
    opacity: 1;
    display: inline;
    transition: 10s;
}

#linkedinHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

#resumeVisible {
    opacity: 1;
    display: inline;
    transition: 10s;
}

#resumeHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

/* Hidden */

.hidden {
    opacity: 0;
    text-shadow: 2px 2px white!important;
    display: none!important;
}

/* Root */
/* Other root variables are found in the themes folder */

:root {
    --roundness: min(1.5vh, 1.5vw);
    --transition: 0.25s;
    --return: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.25);
  border-radius: var(--roundness);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sub-color);
}

/* Hover animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Included fonts */
@font-face {
    font-family: HH1;
    src: url(have_heart_one.otf)
}

@font-face {
    font-family: HHS;
    src: url(have_heart_swash.otf)
}

@font-face {
    font-family: BigNoodleTitling;
    src: url(big_noodle_titling.tff)
}

@font-face {
    font-family: BigNoodleTitlingOblique;
    src: url(big_noodle_titling_oblique.ttf)
}

@font-face {
    font-family: AmericanCaptain;
    src: url(american_captain.ttf)
}