body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    background: var(--bg-color);
    margin-top: -5px;
    /* Didn't like the look/feel, but may reuse later */
    /*border-bottom: 3px solid var(--sub-color);*/
}

/* Footer */

footer {
    margin-top: clamp(100px, 30vh, 200px);
    width: 100%;
    background: rgba(0,0,0,.1);
    color: var(--text-color);
    padding: 1.5em 10vw 5vh 10vw;
    display: flex;
}

#footer-left {
    float: left;
    text-align: left;
    font-size: clamp(10px, 2vh, 30px);
    width: 33%;
}

#footer-left #clickButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: var(--accent-color);
    border-radius: var(--roundness);
    text-align: center;
    cursor: pointer;
    transition: var(--return);
}

#footer-left #clickButton:hover {
    background-color: var(--highlight-color);
    transform: translateY(-5px);
    transition: var(--transition);
}

#footer-center {
    float: center;
    text-align: center;
    font-size: clamp(10px, 2vh, 25px);
    color: var(--text-color);
    font-weight: 700;
    width: 33%;
}

#footer-right {
    float: right;
    text-align: right;
    font-size: clamp(10px, 2vh, 30px);
    width: 33%;
}

#footer-right #clickButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: var(--accent-color);
    border-radius: var(--roundness);
    text-align: center;
    cursor: pointer;
    transition: var(--return);
}

#footer-right #clickButton:hover {
    background-color: var(--highlight-color);
    transform: translateY(-5px);
    transition: var(--transition);
}

/* Header */

#header-left {
    color: white;
    cursor: default;
    padding-bottom: 0px;
    display: inline-block;
    font-size: 6vh;
    max-width: 20vh;
    text-decoration: none;
    transition: var(--return);
}

#header-left:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

#header-right {
    float: right;
    padding-right: 1rem;
    padding-top: 1.5vh;
    text-decoration: none;
}

#header-right a {
    text-decoration: none;
}

#header-right img:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

/* Front-Page */

#next-page {
    margin-bottom: 50vh;
    text-align: center;
    color: grey;
    font-size: 3vh;
    font-weight: 700;
}

#title {
    text-decoration: none;
    color: white;
    padding-left: 0.5em;
    text-shadow: 0.2vh 0.2vh var(--main-color);
    cursor: pointer;
}

#body-text {
    margin: 5px;
    padding-left: 10px;
    padding-top: 30vh;
    font-size: max(4vh, 4rem);
    color: var(--text-color);
    text-align: center;
}

#container {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: var(--roundness);
    width: 80vw;
    margin-left: 10vw;
    padding-top: .5rem;
    padding-bottom: .5rem;

    /* Wanted to use drop-shadow, but made container hover ABOVE the header */
    /* filter: drop-shadow(0.2vh 0.2vh 2px rgba(0,0,0,0.25)) */
}

#about-me {
    font-size: 4vh;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-skills {
    margin-top: clamp(100px, 30vh, 200px);
    font-size: 4vh;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-portfolio {
    margin-top: clamp(100px, 30vh, 200px);
    font-size: 4vh;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#read-text {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: clamp(25px, 3vh, 35px);
    font-weight: 500;
    text-align: left;
    text-shadow: .2vh .2vh 2px rgba(0,0,0,0.2);
    padding-top: 30px;
}

/* Icons */

.icon {
    filter: brightness(10%) invert(1);
    cursor: pointer;
    height: 6vh;
    transition: 0.5s;
    padding-right: 10px;
    text-decoration: none;
}

.icon:hover, .icon:focus {
    color: white;
    filter: drop-shadow(0.12vw 0.12vw 0 var(--main-invert)) invert(1);
    transition: var(--transition);
    text-decoration: none;
}

/* Close buttons */

#contactTop .close {
    filter: invert(1);
    transition: var(--transition);
    cursor: pointer;
    height: 2vh;
    float: right;
    vertical-align: top;
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}

#themeTop .close {
    filter: invert(1);
    transition: var(--transition);
    cursor: pointer;
    height: 2vh;
    float: right;
    vertical-align: top;
    margin-top: 1.5vh;
    margin-right: 1.5vh;
}

/* Contact */

#contactWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#contactWrapper #contact {
    width: 85vw;
    height: 75vh;
    background: var(--bg-color);
    border-radius: var(--roundness);
}

#contactWrapper #contact #contactTop {
    width: 100%;
    display: inline-block;
}

#contactWrapper #contact .contactTitle {
    font-size: 5vh;
    display: inline-block;
    vertical-align: top;
    padding-left: 0.35em;
}

#contactWrapper #contact #contactBottom {
    margin-top: 2vh;
    text-align: center;
    overflow-y: auto;

}

input[type=text], select {
    width: clamp(100px, 100%, 600px);
    height: 5vh;
    background-color: var(--sub-color);
    border-radius: var(--roundness);
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 2vh;
    color: var(--text-color);
}

input[type=text]:focus {
    text-decoration: none;
    font-size: 2vh;
}

input[type=submit] {
    margin-top: 2vh;
    font-size: 2vh;
    width: 12vh;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    border-radius: var(--roundness);
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
}

#contactBottom textarea {
    width: clamp(100px, 100%, 600px);
    height: clamp(100px, 50%, 1100px);
    background-color: var(--sub-color);
    border-radius: var(--roundness);
    border: none;
    outline: none;
    resize: none;
    font-size: 2vh;
    color: var(--text-color);
}

label {
    font-size: 2vh;
}

/* Theme */

#themeWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#themeWrapper #theme {
    width: 85vw;
    height: 75vh;
    background: var(--bg-color);
    border-radius: 1.5vh;
}

#themeWrapper #theme #themeTop {
    width: 100%;
    display: inline-block;
    align-items: center;
}

#themeWrapper #theme .themeSearch {
    align-items: center;
    width: 90%;
    display: inline-block;
}

#themeWrapper #theme #themeTop .themeSearch input {
    display: inline-block;
    width: 85%;
    background: var(--bg-color);
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 2.75vh;
    padding-top: 0.5em;
    padding-left: 0.5em;
    vertical-align: baseline;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: brightness(10%) invert(1);
    height: 2vh;
    padding-left: 2vh;
    vertical-align: baseline;
}

#themeWrapper #theme #themeBottom {
    margin-top: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 67.75vh;
}

#themeWrapper #theme #themeBottom .entry {
    width: 110%;
    padding-left: 2em;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 2.5vh;
    transition: var(--transition);
    color: var(--sub-color);
    font-weight: 300;
}

#themeWrapper #theme #themeBottom .entry:hover {
    background-color: var(--text-color);
    transition: var(--transition);
}

#themeWrapper #theme #themeBottom .entry.activeTheme {
    background-color: var(--text-color);
}



/* Hidden */

.hidden {
    display: none!important;
}

/* Root */

:root {
    --roundness: 0.75vh;
    --transition: 0.25s;
    --return: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(38, 38, 38);
  border-radius: var(--roundness);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sub-color);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@font-face {
    font-family: HH1;
    src: url(have_heart_one.otf)
}

@font-face {
    font-family: HHS;
    src: url(have_heart_swash.otf)
}

@font-face {
    font-family: BigNoodleTitling;
    src: url(big_noodle_titling.tff)
}

@font-face {
    font-family: BigNoodleTitlingOblique;
    src: url(big_noodle_titling_oblique.ttf)
}

@font-face {
    font-family: AmericanCaptain;
    src: url(american_captain.ttf)
}