/* Icons */

.icon {
    filter: opacity(40%);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    position: relative;
}

.icon:hover, .icon:focus {
    filter: opacity(80%);
    transition: var(--transition);
    text-decoration: none;
}

/* Header */

header {
    max-width: 1920px;
    margin: 0 auto;
}

.icon {
    height: 2em;
    margin: 1em;
    transform: scaleX(-1);
}

@media(max-width: 1025px) {
    .icon {
        height: 4em;
    }
}

/* Title */

#container {
    margin-top: 7em;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -80%);
}

#title h1 {
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 5px 5px white, 4px 4px white, 3px 3px white, 2px 2px white, 1px 1px white;
    font-size: 22em;
    text-align: center;
}

/* Particles.JS */

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    pointer-events: none;
}

#particles-js canvas {
    display: block;
    opacity: 0.35;
}

/* Icon container */

#icon-list {
    text-align: center;
    background-color: var(--accent-color);
    border-radius: var(--roundness);
    margin: 0 auto;
    max-width: 850px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#icon-list img {
    opacity: 1;
    height: 6em;
    margin: 0 1em;
    filter: brightness(10%) invert(1);

    transition: var(--return);
}

@media(min-width: 1025px) {
    #icon-list img{
        height: 4em;
    }
}

#icon-list a {
    text-decoration: none;
}

#icon-list img:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

/* Root Colors */

:root {
    --bg-color: #323437;
    --main-color: #d82934;
    --accent-color: #f05757;
    --sub-color: #5e5e5e;
    --text-color: #e8e8e8;
    --error-color: #da3333;
    --main-invert: #27d6cb;
    --roundness: 1vh;
    --transition: 0.25s;
    --return: 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2vh);
    }
    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: BigNoodleTitling;
    src: url(big_noodle_titling.tff)
}

@font-face {
    font-family: BigNoodleTitlingOblique;
    src: url(big_noodle_titling_oblique.ttf)
}

@font-face {
    font-family: AmericanCaptain;
    src: url(american_captain.ttf)
}