:root {
    --bg-color: #333a45;
    --main-color: #f78cac;
    --accent-color: #f78cac;
    --highlight-color: #f78cac;
    --sub-color: #939eae;
    --text-color: #e9ecf0;
    --searchInput-color: #e9ecf0;
    --search-color: #939eae;
    --contactText-color: #e9ecf0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f78cac;
    --button-color: #f78cac;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(66%) sepia(7%) saturate(677%) hue-rotate(176deg) brightness(95%) contrast(82%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}