:root {
    --bg-color: #081921;
    --main-color: #E95D8C;
    --accent-color: #E95D8C;
    --highlight-color: #E95D8C;
    --sub-color: #276380;
    --text-color: #F7F0F5;
    --contactText-color: #D6D6D6;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #E95D8C;
    --button-color: #f58aae;
    --button-weight: 500;
}

.themeSearch input {
  color: var(--sub-color)!important;
}

#footer-left .clickButton:hover {
    color: var(--highlight-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}