:root {
    --bg-color: #16181f;
    --main-color: #16181f;
    --accent-color: #7ebab5;
    --highlight-color: #95ddd7;
    --sub-color: #454864;
    --text-color: #f6f5f5;
    --searchInput-color: #7ebab5;
    --search-color: #454864;
    --contactText-color: #f6f5f5;
    --contactBg-color: rgba(0, 0, 0, 0.15);
    --contactSubmit-color: #7ebab5;
    --button-color: #c1fffb;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(28%) sepia(7%) saturate(2097%) hue-rotate(197deg) brightness(91%) contrast(87%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}