:root {
    --bg-color: #262727;
    --main-color: #262727;
    --accent-color: #f0d3c9;
    --highlight-color: #e2beb2;
    --sub-color: #665957;
    --text-color: #fff;
    --searchInput-color: #ff7a90;
    --search-color: #665957;
    --contactText-color: #fff;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #ff7a90;
    --button-color: #262727;
    --button-weight: 700;
}

header {
  background: var(--bg-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(34%) sepia(4%) saturate(1133%) hue-rotate(320deg) brightness(100%) contrast(89%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}