:root {
    --bg-color: #7b9c98;
    --main-color: #7b9c98;
    --accent-color: #abc6c4;
    --highlight-color: #abc6c4;
    --sub-color: #495755;
    --text-color: #eaf1f3;
    --searchInput-color: #abc6c4;
    --search-color: #495755;
    --contactText-color: #eaf1f3;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #495755;
    --button-color: #7b9c98;
    --button-weight: 700;
}

#container {
  color: var(--text-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(35%) sepia(17%) saturate(267%) hue-rotate(122deg) brightness(91%) contrast(99%);
}

#footer-left .clickButton img {
  filter: invert(99%) sepia(1%) saturate(1389%) hue-rotate(144deg) brightness(95%) contrast(101%);
  transition: var(--return);
}

#footer-left .clickButton:hover img {
  filter: invert(1);
  transition: var(--transition);
}

#footer-left .clickButton {
  color: var(--text-color);
}

#footer-left .clickButton:hover {
  color: white;
}

.myContainer {
  color: var(--sub-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}