:root {
    --bg-color: #1f1b1b;
    --main-color: #f05757;
    --accent-color: #f05757;
    --highlight-color: #f05757;
    --sub-color: #776c6c;
    --text-color: #e8e8e8;
    --searchInput-color: #e8e8e8;
    --search-color: #5e5e5e;
    --contactText-color: #e8e8e8;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f05757;
    --button-color: #f05757;
    --button-weight: 700;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}