:root {
    --bg-color: #442f29;
    --main-color: #b46a55;
    --accent-color: #7ebab5;
    --highlight-color: #7dc2bc;
    --sub-color: #b46a55;
    --text-color: #e7e0de;
    --searchInput-color: #7ebab5;
    --search-color: #b46a55;
    --contactText-color: #e7e0de;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #7ebab5;
    --button-color: #9fd4d0;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(82%) sepia(6%) saturate(1724%) hue-rotate(126deg) brightness(86%) contrast(83%);
}

#footer-left .clickButton:hover {
  color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}