:root {
    --bg-color: #181c18;
    --main-color: #9578d3;
    --accent-color: #9578d3;
    --highlight-color: #34a773;
    --sub-color: #4a524a;
    --text-color: #e9fff5;
    --searchInput-color: #ffffff;
    --search-color: #9578d3;
    --contactText-color: #ffffff;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #00ce7c;
    --button-color: #72f1b8;
    --button-weight: 700;
}

.portfolio-bottom a:hover {
  background-color: var(--highlight-color)!important;
}

#front-splash span {
  color: var(--highlight-color);
}

.clickButton:hover {
  color: var(--main-color)!important;
}

.close {
  color: var(--button-color);
}

.versionNotes {
  color: #ffffff;
}

#versionBottom .versionTitle .releaseDate {
  color: var(--sub-color);
}

#title {
    color: #c2fbe1!important;
}

#contactWrapper {
  color: #4a524a;
}

#contactWrapper input[type=submit] {
    color: #181c18;
}

#footer-left .clickButton:hover {
  color: var(--text-color);
}

.myContainer {
  color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}