:root {
    --bg-color: #091f2c;
    --main-color: #091f2c;
    --accent-color: #f5b1cc;
    --highlight-color: #dd98b3;
    --sub-color: #a288d9;
    --text-color: #93e8d3;
    --searchInput-color: #a288d9;
    --search-color: #dd98b3;
    --contactText-color: #dd98b3;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #a288d9;
    --button-color: #091f2c;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(95%) sepia(25%) saturate(1730%) hue-rotate(282deg) brightness(91%) contrast(89%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}