:root {
    --bg-color: #121420;
    --main-color: #bd93f9;
    --accent-color: #bd93f9;
    --highlight-color: #875ac5;
    --sub-color: #53537c;
    --text-color: #ded6e9;
    --searchInput-color: #f2f2f2;
    --search-color: #939eae;
    --contactText-color: #f2f2f2;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f2f2f2;
    --button-color: #a97beb;
    --button-weight: 700;
}

.frontButton {
  color: var(--text-color);
}

.frontButton:hover {
  background-color: var(--main-color)!important;
}

#header-left #title {
  text-shadow: 0.2vh 0.2vh 1px var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}