:root {
    --bg-color: #20152e;
    --main-color: #c18fff;
    --accent-color: #c18fff;
    --highlight-color: #9660d8;
    --sub-color: #5e4979;
    --text-color: #f7f2ea;
    --searchInput-color: #f7f2ea;
    --search-color: #c18fff;
    --contactText-color: #f7f2ea;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #c18fff;
    --button-color: #a87cdf;
    --button-weight: 700;
}

#footer-left .clickButton:hover {
    color: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}