:root {
    --bg-color: #2e1a47;
    --main-color: #c18fff;
    --accent-color: #c18fff;
    --highlight-color: #9660d8;
    --sub-color: #9260ce;
    --text-color: #f7f2ea;
    --searchInput-color: #f7f2ea;
    --search-color: #c18fff;
    --contactText-color: #f7f2ea;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #c18fff;
    --button-color: #a87cdf;
    --button-weight: 700;
}

#footer-left .clickButton img {
  filter: invert(61%) sepia(62%) saturate(827%) hue-rotate(211deg) brightness(95%) contrast(113%);
}

#footer-left .clickButton:hover {
    color: var(--text-color);
}

#footer-left .clickButton:hover img {
  filter: invert(92%) sepia(2%) saturate(1843%) hue-rotate(323deg) brightness(108%) contrast(94%);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(61%) sepia(62%) saturate(827%) hue-rotate(211deg) brightness(95%) contrast(113%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}