:root {
    --bg-color: #1C1E26;
    --main-color: #db886f;
    --accent-color: #db886f;
    --highlight-color: #f3ab95;
    --sub-color: #8b8b8b;
    --text-color: #e6e6e6;
    --searchInput-color: #e6e6e6;
    --search-color: #e6e6e6;
    --contactText-color: #e6e6e6;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #db886f;
    --button-color: #db886f;
    --button-weight: 700;
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(71%) sepia(0%) saturate(1%) hue-rotate(271deg) brightness(108%) contrast(88%);
}

#title {
    color: white;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}