:root {
--bg-color: #1f2730;
--main-color: #686ec6;
--accent-color: #686ec6;
--highlight-color: #776bb6;
--sub-color: #5c6472;
--text-color: #d7e2ff;
--searchInput-color: #4b5975;
--search-color: #7168c6;
--contactText-color: #d7e2ff;
--contactBg-color: rgba(0, 0, 0, 0.15);
--contactSubmit-color: #4b5975;
--button-color: #4b5975;
--button-weight: 700;
}

#footer-left .clickButton {
color: var(--sub-color);
}

.clickButton:hover {
    color: var(--main-color)!important;
}

.settings-entry {
color: var(--text-color) !important;
}

::-webkit-scrollbar-thumb {
background: var(--accent-color);
border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
background: var(--highlight-color);
}