:root {
    --bg-color: #171833;
    --main-color: #407ff3;
    --accent-color: #407ff3;
    --highlight-color: #5c95ff;
    --sub-color: #444d81;
    --text-color: #e7ecff;
    --searchInput-color: #e1e1eb;
    --search-color: #6f87ac;
    --contactText-color: #bebece;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #407ff3;
    --button-color: #407ff3;
    --button-weight: 700;
}

#footer-left .clickButton img {
  filter: invert(34%) sepia(8%) saturate(4257%) hue-rotate(181deg) brightness(97%) contrast(87%);
  transition: var(--return);
}

#footer-left .clickButton {
    color: var(--sub-color);
}


#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(39%) sepia(9%) saturate(1982%) hue-rotate(177deg) brightness(97%) contrast(87%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}