:root {
    --bg-color: #1a0b0c;
    --main-color: #ff3a32;
    --accent-color: #ff3a32;
    --highlight-color: #fac04d;
    --sub-color: #4a4d4e;
    --text-color: #ffffff;
    --searchInput-color: #ffffff;
    --search-color:#4a4d4e;
    --contactText-color: #ffffff;
    --contactBg-color: rgba(131, 131, 131, 0.15);
    --contactSubmit-color: #e2a528;
    --button-color: #e2a528;
    --button-weight: 700;
}

#footer-left .clickButton:hover {
    color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}