:root {
    --bg-color: #1b163a;
    --main-color: #ffcb5c;
    --accent-color: #ffcb5c;
    --highlight-color: #ffcb5c;
    --sub-color: #625a9c;
    --text-color: #fff4db;
    --searchInput-color: #ffffff;
    --search-color: #446ad5;
    --contactText-color: #ffffff;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f2ce83;
    --button-color: #f2ce83;
    --button-weight: 700;
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(39%) sepia(9%) saturate(1982%) hue-rotate(177deg) brightness(97%) contrast(87%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}