:root {
    --bg-color: #681d26;
    --main-color: #a72534;
    --accent-color: #a72534;
    --highlight-color: #ebc395;
    --sub-color: #bb5763;
    --text-color: #e7dfd5;
    --searchInput-color: #ffffff;
    --search-color:#e2dad0;
    --contactText-color: #e2dad0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #c79e6e;
    --button-color: #c79e6e;
    --button-weight: 700;
}

.close {
  color: var(--highlight-color);
}

.themeSearch i {
  color: var(--highlight-color)!important;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom a:hover {
    background-color: var(--highlight-color);
}

#versionBottom .versionTitle {
    color: var(--highlight-color);
}

#versionBottom .releaseDate {
    color: var(--highlight-color);
}

#themeWrapper #theme #themeBottom #selected {
    color: var(--highlight-color);
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#footer-left .clickButton:hover {
  color: var(--highlight-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
  filter: invert(97%) sepia(7%) saturate(449%) hue-rotate(329deg) brightness(92%) contrast(93%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}