:root {
    --bg-color: #151a17;
    --main-color: #79a617;
    --accent-color: #79a617;
    --highlight-color: #afe044;
    --sub-color: #4f5e55;
    --text-color: #e7eae0;
    --searchInput-color: #ffffff;
    --search-color: #48494b;
    --contactText-color: #e7eae0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #79a617;
    --button-color: #699113;
    --button-weight: 700;
}

#footer-left .clickButton:hover {
    color: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}