:root {
    --bg-color: #0b1e1a;
    --main-color: #66ac92;
    --accent-color: #66ac92;
    --highlight-color: #95dac0;
    --sub-color: #015c53;
    --text-color: #dceae5;
    --searchInput-color: #66ac92;
    --search-color: #015c53;
    --contactText-color: #dceae5;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #66ac92;
    --button-color: #4a8d75;
    --button-weight: 700;
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
  filter: invert(26%) sepia(12%) saturate(5003%) hue-rotate(136deg) brightness(96%) contrast(99%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}