body {
    margin: 0;
    font-family: Roboto-Regular!important;
    letter-spacing: 1px;
    overflow-x: hidden;
    letter-spacing: 0!important;
}

body.loading {
    overflow: hidden;
}

b {
    font-weight: 500;
    font-family: Roboto-Bold;
}

/* Header */

header {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    margin: 1em 0;
    z-index: 1000;
}

#header {
    width: calc(100% - 2em);
    max-width: 1920px;
}

@media(min-width: 1921px) {
    #header {
        max-width: 1200px;
    }
}

#header-container {
    width: 100%;
    background: var(--accent-color);
    border-radius: var(--roundness);
    transition: var(--transition);
    float: right;
}

#githubVisible {
    opacity: 1;
    display: inline;
}

#githubHidden {
    opacity: 0;
    display: none;
}

#linkedinVisible {
    opacity: 1;
    display: inline;
}

#linkedinHidden {
    opacity: 0;
    display: none;
}

#resumeVisible {
    opacity: 1;
    display: inline;
}

#resumeHidden {
    opacity: 0;
    display: none;
}

#header-left {
    width: 50%;
    text-decoration: none;
    display: inline;
    height: auto;
}

#header-right {
    width: 50%;
    text-decoration: none;
    display: inline;
}

#header-right .icon:hover {
    transform: translateY(-5px);
    transition: var(--transition);
}

#header-right a {
    float: right;
    margin: 0.5em 0;
}

#header-right a:hover img + .tooltipIcon {
    opacity: 1;
    transform: translateY(15px);
    transition: var(--return)
}

/* Loading-Screen */

#loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323437;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* Front-Page */

#front-page {
    height: 100vh;
    max-height: calc(1080px * 0.7);
}

#front-page .myContainer {
   font-size: var(--font-med);
   pointer-events: none;
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    pointer-events: none;
}

#tsparticles canvas {
    display: block;
    opacity: 0.25;
}

#title {
    display: inline;
    text-decoration: none;
    color: #ffffff!important;
    margin-left: 1em;
    transition: var(--return);
}

#titleHidden {
    color: transparent;
    display: none!important;
    cursor: pointer;
}

#title-text {
    display: inline;
    font-size: var(--font-large);
    transition: var(--return);
}

#title-hover:hover {
    cursor: pointer;
}

/* Body Information */

#body-text {
    user-select: none;
    max-width: 100%;
    margin: 25vh auto 0 auto;
    font-size: 6em;
    color: var(--text-color);
    text-align: center;
    z-index: 10;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35), 1px 1px var(--accent-color), 2px 2px var(--accent-color), 3px 3px 10px rgba(0, 0, 0, 0.35);
}

#front-splash {
    color: var(--text-color);
    text-align: center;
    font-size: var(--font-small);
    font-weight: 300;
    letter-spacing: 0.2rem;
}

#front-splash span {
    color: var(--accent-color);
}

@media(min-width: 769px) {
    #body-text {
        max-width: 80%;
        font-size: 7em;
        margin: 33vh auto 0 auto;
    }
    .myContainer {
        max-width: 80%;
    }
}

.myContainer {
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 6em;
    font-family: signature;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35), 1px 1px var(--accent-color), 2px 2px var(--accent-color), 3px 3px 10px rgba(0, 0, 0, 0.35);
}

@media(min-width: 1921px) {
    .myContainer {
        max-width: 1000px;
        margin: 0 auto;
    }
}

#my-skills {
    margin-top: clamp(75px, 30vh, 150px);
}

#my-skills img {
    width: 4em;
    padding: 5px 0.25em;
    transition: var(--return);
}

#my-skills img:hover {
    transform: translateY(-5px);
    transition: var(--transition);
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.5));
}

.skills-coding {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#skills-container {
    background: rgba(0,0,0,0.15);
    border: solid rgba(133, 133, 133, 0.05);
    border-radius: calc( var(--roundness) + 1px );
    width: auto;
    display: inline-block;
    padding: 1em;
}

.skills-box {
    display: inline-block;
    width: 4em;
    margin: 0 0.5em;
    text-align: center;
}

.skills-title {
    font-family: Roboto-Bold;
    text-align: center;
    margin-top: 10px;
    color: var(--text-color);
    font-weight: 700;
}

#frontButtonList {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0.5rem auto;
}

.frontButton {
    color: var(--text-color);
    border-radius: 99999em;
    font-size: var(--font-med);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    margin: auto 0.2rem;
    transition: var(--return);
}

.frontButton:hover {
    background: var(--highlight-color);
    transform: translateY(-5px);
    transition: var(--transition);
    color: var(--bg-color);
}

.frontButton a {
    color: inherit;
    text-decoration: none;
}

.frontButton a:hover {
    color: inherit;
}

.front-tooltip {
    position: relative;
    display: inline-block;
}

.button-tooltip {
    visibility: hidden;

    font-size: 0.85rem;
    color: var(--text-color);
    font-family: Roboto-Bold;
    background: rgba(0, 0, 0, 0.15);
    border-radius: var(--roundness);
    margin-top: 25px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    text-align: center;

    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    transition: var(--return);
}

.front-tooltip .button-tooltip {
    opacity: 0;
    transition: opacity 1s;
}

.front-tooltip:hover .button-tooltip {
    visibility: visible!important;
    opacity: 1;
    transition: var(--transition);
    transform: translateY(-20px);
}

.front-tooltip .button-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
}

/* My Portfolio */

#my-portfolio {
    margin-top: clamp(100px, 30vh, 200px);
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

#my-portfolio #portfolio-items {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

@media(max-width: 769px) {
    #my-portfolio #portfolio-items {
        width: 95%;
    }
}

#my-portfolio #portfolio-items .portfolio-obj {
    width: 90%;
    max-width: 1000px;
    border-radius: calc(var(--roundness) + 1px);
    background-color: rgba(0,0,0,0.15);
    margin: 1em;
    border: solid rgba(133, 133, 133, 0.05);
    display: inline-block;
}

@media(max-width: 1024px) {
    #my-portfolio #portfolio-items .portfolio-obj {
        max-width: 400px;
    }
}

.portfolio-image-container {
    border-radius: var(--roundness);
    overflow: hidden;
    float: left;
}

.portfolio-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0;
    transition: var(--return);
}

.portfolio-obj:hover .portfolio-image {
    transform: scale(1.15);
    transition: var(--transition);
}

@media(min-width: 1025px) {
    .portfolio-image {
        width: 16em;
        height: auto;
    }
}

.portfolio-text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    padding: 0 1em 0 1em;
}

.portfolio-title {
    font-family: Roboto-Bold!important;
    font-size: var(--font-large);
    text-shadow: 1px 1px var(--sub-color), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.portfolio-read-text {
    font-size: var(--font-extra-small);
    overflow-y: scroll;
    font-weight: 500;
    text-align: left;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom {
    height: 100%;
    width: 80%;
    font-size: var(--font-med);
    font-family: Roboto-Bold;
    font-weight: 500;
    letter-spacing: 0;
    display: inline-block;
}

@media(min-width: 1025px) {
    #my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom {
        padding: 1rem 0.5rem 0 0.5rem;
        float: right;
        height: 150%;
        width: 12em;
        display: inline;
    }  
    .portfolio-text-container {
        width: calc(100% - 15em - 16em);
        overflow-y: scroll;
    }
}

#my-portfolio #portfolio-items .portfolio-obj .live-demo {
    text-align: center;
    width: 100%;
    height: 50%;
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
}

#my-portfolio #portfolio-items .portfolio-obj .GitHub {
    text-align: center;
    width: 100%;
    height: 50%;
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom a {
    border-radius: var(--roundness);
    background-color: var(--sub-color);
    text-decoration: none;
    color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    transition: var(--return);
    font-size: 1.2em;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom  a:hover {
    background-color: var(--main-color);
    transform: translateY(-3px);
    transition: var(--transition);
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}

.read-text {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    font-size: var(--font-small);
    color: var(--text-color);
    font-weight: 500;
    text-align: center;
}

.portfolio-read-text a {
    color: var(--button-color);
    text-decoration: none;
}

.portfolio-read-text a:hover {
    color: var(--highlight-color);
}

@media(min-width: 1921px) {
    .read-text {
        max-width: 900px;
    }
}



#about-me {
    text-align: left!important;
}

@media (max-width: 1260px) {
    .project-container {
        width: auto;
        display: block;
    }
    .project {
        display: block;
        margin: 0 auto!important;
    }
}

#project-container {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.6rem;
}

.project {
    width: 559px;
    height: 397px;
    text-align: center;
    -webkit-box-shadow: 0px 16px 25px 0px rgb(0 0 0 / 20%);
    box-shadow: 0px 16px 25px 0px rgb(0 0 0 / 20%);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.project-img img {
    display: block;
    margin: auto;
    height: 100%;
}

.project div {
    background: no-repeat center / cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
}

.project .project-text {
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0 3px 5px rgb(0 0 0 / 15%);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding-top: 30px;
}

.project:hover .project-text, .project:focus .project-text {
    opacity: 1;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}

.project:hover .project-img {
    filter: blur(2px);
}

.project-description {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}

/* Icons */

.icon {
    filter: invert(1);
    cursor: pointer;
    height: 1.5em;
    padding: 0 0.25em;
    margin: 0.25em 0;
    transition: 0.5s;
    text-decoration: none;
}

.icon:hover, .icon:focus {
    transition: var(--transition);
    text-decoration: none;
}

#closeIcon {
    height: 1.5em;
    margin: 0.25em 0.75em 0.25em 0.25em;
    filter: invert(1);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    transform: scaleX(1);
}

/* Close buttons */
.close {
    transition: var(--transition);
    cursor: pointer;
    float: right;
    font-size: 1.4em;
    margin: 0.40em 0.5em 0 0;
    color: var(--accent-color);
    transition: var(--return);
}

.close:hover {
    color: var(--highlight-color);
    transition: var(--transition);
}

/* Contact */

#contactWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--sub-color);
}

#contactWrapper #contact {
    width: 90%;
    background: var(--bg-color);
    border-radius: var(--roundness);
    box-shadow: 0px 0px 5px var(--bg-color);
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10%;
}

@media(min-width: 769px) {
    #contactWrapper #contact {
        max-width: 500px;
    }
}

#contactWrapper #contact #contactTop {
    width: 100%;
    display: inline-block;
}

#contactWrapper #contact #contactBottom {
    text-align: center;
}

#contactWrapper input[type=text], select {
    margin-top: 0.5em;
    width: 90%;
    height: 5vh;
    background-color: var(--contactBg-color);
    border-radius: calc(var(--roundness) - 5px);
    border: none;
    outline: none;
    text-decoration: none;
    font-size: var(--font-small);
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

#contactWrapper input[type=text] ::placeholder {
    color: var(--sub-color);
}

#contactWrapper input[type=text]:focus {
    text-decoration: none;
    font-size: var(--font-small);
    border: solid var(--accent-color);
    border-width: 2px;
}

#contactWrapper input[type=submit] {
    margin: 0.5em 0 1em 0;
    padding: 0.2em 0.75em;
    font-size: var(--font-small);
    background-color: var(--button-color);
    border: none;
    outline: none;
    border-radius: var(--roundness);
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
    font-weight: 700;
    transition: var(--return);
}

#contactWrapper input[type=submit]:hover {
    background: var(--highlight-color);
    transform: translateY(-2px);
    transition: var(--transition);
}

#contactBottom textarea {
    margin-top: 0.5em;
    width: 90%;
    height: min(37vh, 80vw);
    max-height: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--contactBg-color);
    border-radius: calc(var(--roundness) - 5px);
    border: none;
    outline: none;
    resize: none;
    font-size: var(--font-small);
    color: var(--text-color);
}

#contactBottom textarea:focus {
    border: solid var(--accent-color);
    border-width: 2px;
}

::placeholder {
    color: var(--sub-color);
}

label {
    margin-top: 0.5em;
    font-size: var(--font-small);
}

/* Theme */

#themeWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#themeWrapper #theme {
    width: 90%;
    background: var(--bg-color);
    box-shadow: 0px 0px 5px var(--bg-color);
    border-radius: var(--roundness);
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10%;
}

@media(min-width: 769px) {
    #themeWrapper #theme {
        max-width: 600px;
    }
}

#themeWrapper #theme #themeTop {
    width: 100%;
    display: inline-block;
    align-items: center;
}

#themeWrapper #theme .themeSearch {
    width: calc(100% - 2em);
    display: inline-block;
    color: var(--sub-color);
}

.themeSearch i {
    color: var(--accent-color)!important;
    transition: var(--return);
}

.themeSearch i:hover {
    color: var(--highlight-color);
    text-shadow: 0px 0px 3px var(--highlight-color);
    transition: var(--transition);
}

#themeWrapper #theme #themeTop .themeSearch input {
    display: inline-block;
    width: calc(100% - 2.2em);
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: var(--font-med);
    padding: 0.3em 0 0.5em 0;
    vertical-align: baseline;
}

#themeWrapper #theme #themeTop .themeSearch ::placeholder {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch i {
    padding: 0 0.25em 0 0.75em;
}

#themeWrapper #theme #themeBottom {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;
}

#themeWrapper #theme #themeBottom .theme-entry {
    width: 110%;
    padding-left: 2em;
    padding-bottom: 0.25em;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: var(--font-med);
    transition: var(--return);
    color: var(--sub-color);
    font-weight: 500;
    font-family: Roboto-Regular;
}

#themeWrapper #theme #themeBottom .entry-invisible {
    display: none;
}

#themeWrapper #theme #themeBottom .theme-entry:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--roundness);
    transition: var(--transition);
}

#themeWrapper #theme #themeBottom #selected {
    color: var(--accent-color);
    text-shadow: 0px 0px 5px var(--accent-color);
}

/* Version Page */

#versionWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#versionWrapper #versionContainer {
    width: 90%;
    background: var(--bg-color);
    border-radius: var(--roundness);
    box-shadow: 0px 0px 5px var(--bg-color);
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10%;
}

@media(min-width: 769px) {
    #versionWrapper #versionContainer {
        max-width: 1000px;
    }
}

#versionWrapper #versionContainer #versionTop {
    width: 100%;
    height: 2em;
}

#versionBottom {
    padding: 0 2em;
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media(max-width: 769px) {
    #versionBottom {
        padding: 0 1em;
    }
}

#versionBottom .versionTitle {
    color: var(--accent-color);
    font-size: var(--font-large);
    font-weight: 700;
    font-family: Roboto-Black;
}

#versionBottom .versionNotes {
    font-weight: 300;
    font-size: 0.8em;
}

.versionNotes b {
    color: var(--sub-color)!important;
}

#versionBottom .releaseDate {
    font-size: 0.45em;
    font-weight: 300;
    max-width: 50%;
    float: right;
    margin-top: 0.45em;
    color: var(--sub-color);
    font-family: Roboto-Medium;
}

/* Hide Button */

#githubVisible {
    opacity: 1;
    display: inline-block;
    
    transition: 10s;
}

#githubHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

#linkedinVisible {
    opacity: 1;
    display: inline-block;
    transition: 10s;
}

#linkedinHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

#resumeVisible {
    opacity: 1;
    display: inline-block;
    transition: 10s;
}

#resumeHidden {
    opacity: 0;
    display: none!important;
    transition: 10s;
}

/* Settings */

#settingsWrapper {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#settingsWrapper #settings {
    width: min(100vh, 85vw);
    background: var(--bg-color);
    border-radius: var(--roundness);
    box-shadow: 0px 0px 5px var(--bg-color);
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    top: 10%;
}

@media(min-width: 769px) {
    #settingsWrapper #settings {
        max-width: 600px;
    }
}

#settingsWrapper #settings #settings-top {
    width: 100%;
    display: inline-block;
    align-items: center;
}

#settingsWrapper #settings .settings-search {
    width: calc(100% - 2em);
    display: inline-block;
    color: var(--accent-color);
}

#settingsWrapper #settings #settings-top .settings-search input {
    display: inline-block;
    width: calc(100% - 2.2em);
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: var(--font-med);
    padding: 0.3em 0 0.5em 0;
    vertical-align: baseline;
}

#settingsWrapper #settings #settings-top .settings-search ::placeholder {
    color: var(--sub-color);
}

#settingsWrapper #settings #settings-top .settings-search i {
    padding: 0 0.25em 0 0.75em;
}

#settingsWrapper #settings #settings-bottom {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;
}

#settingsWrapper #settings #settings-bottom .settings-entry {
    width: 110%;
    padding-bottom: 0.25em;
    cursor: pointer;
    font-size: var(--font-med);
    transition: var(--transition);
    color: var(--sub-color);
    font-weight: 300;
}

.settings-entry-icon {
    padding: 0 0.23em 0 0.97em;
    display: inline-flex;
    vertical-align: middle;
}

.settings-entry-icon i {
    font-size: 0.5em;
    opacity: 0.25;
    transition: var(--return);
}

#settingsWrapper #settings #settings-bottom .entry-invisible {
    display: none;
}

#settingsWrapper #settings #settings-bottom .settings-entry:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--roundness);
    transition: var(--transition);
}

#settingsWrapper #settings #settings-bottom .selected {
    color: var(--accent-color)!important;
    opacity: 1;
    transition: var(--transition);
}

.settings-note {
    padding-left: calc(2em + 15px);
    font-size: 0.6em;
    font-weight: 500;
    font-family: roboto-regular;
    display: block;
}

/* Footer */

footer {
    margin: 5em auto 2em auto;
    padding-left: 1em;
    width: 100%;
    max-width: 1800px;
    color: var(--text-color);
    display: flex;
}

#footer-left {
    opacity: 1;
    float: left;
    text-align: left;
    font-size: 0.85em;
    width: 100%;
}

#footer-left .clickButton {
    padding: 0.2em 0.5em;
    color: var(--sub-color);
    font-weight: 500;
    transition: var(--return);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

#footer-left .clickButton:hover {
    color: var(--button-color);
    transform: translateY(-3px);
    transition: var(--return);
}

#clickButtonTheme i {
    padding-right: 0.25em;
}

.unloaded-top {
    opacity: 0;
    transform: translateX(500px);
}

.unloaded {
    opacity: 0;
    transform: translateX(500px);
}

.loaded-top {
    opacity: 1;
    transform: translateX(0px);
    transition: 2s;
}

.loaded {
    opacity: 1;
    transform: translateX(0px);
    transition: 2s;
}


/* Hidden */

.hidden {
    opacity: 0;
    text-shadow: 2px 2px white!important;
    display: none!important;
}

/* Root */
/* Other root variables are found in the themes folder */

:root {
    --roundness: 1em;
    --transition: 0.25s;
    --return: 0.5s;

    --font-extra-small: 0.75em;
    --font-small: 1em;
    --font-med: 1.2em;
    --font-large: 2em;
    --font-extra-large: 2.5em;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.25);
  border-radius: var(--roundness);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sub-color);
}

/* Hover animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Included fonts */
@font-face {
    font-family: HH1;
    src: url(have_heart_one.otf)
}

@font-face {
    font-family: HHS;
    src: url(have_heart_swash.otf)
}

@font-face {
    font-family: BigNoodleTitling;
    src: url(big_noodle_titling.tff)
}

@font-face {
    font-family: BigNoodleTitlingOblique;
    src: url(big_noodle_titling_oblique.ttf)
}

@font-face {
    font-family: AmericanCaptain;
    src: url(american_captain.ttf)
}

@font-face {
    font-family: Signature;
    src: url(signature.ttf)
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Black;
    src: url(Roboto-Black.ttf)
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto-Medium;
    src: url(Roboto-Medium.ttf)
}

@font-face {
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf)
}

@font-face {
    font-family: Roboto-Thin;
    src: url(Roboto-Thin.ttf)
}