/* Icons */

.icon {
    filter: opacity(40%);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    position: relative;
}

.icon:hover, .icon:focus {
    filter: opacity(80%);
    transition: var(--transition);
    text-decoration: none!important;
    color: var(--bg-color);
}

/* Header */

header {
    max-width: 1920px;
    margin: 0 auto;
}

.icon {
    height: 2em;
    margin-left: 1em;
    transform: scaleX(-1);
}

/* Title */

#container {
    margin: 0 auto;
    max-width: 90%;
}

#title h1 {
    margin-top: 20vh;
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 3px 3px white, 2px 2px white, 1px 1px white;
    font-size: 7em;
    text-align: center;
}

/* Particles.JS */

#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.25;
}

#tsparticles canvas {
    display: block;
    opacity: 0.35;
}

/* Icon container */

#back {
    font-size: 2em;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.15);
    padding-left: 20px;
    transition: var(--return);
}

#back:hover {
    color:rgba(255, 255, 255, 0.25);
    transition: var(--transition);
}

#icon-list {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 1.75rem auto;
}

.icon-container {
    position: relative;
    display: inline-block;
}

.icon-image {
    color: var(--text-color)!important;
    border-radius: 99999em!important;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    margin: auto 0.45rem;
    transition: var(--return);
}

.icon-image a i {
    font-weight: 500!important;
}

.icon-image:hover {
    background: var(--accent-color);
    transform: translateY(-5px);
    transition: var(--transition);
    color: var(--bg-color)!important;
}

.icon-image a {
    color: inherit;
    text-decoration: none;
}

.icon-image a:hover {
    color: var(--bg-color)!important;
}

.tooltip {
    visibility: hidden;
    font-size: 0.85rem;
    font-weight: 700!important;
    color: var(--text-color);
    font-family: Roboto-Bold;
    background: rgba(0, 0, 0, 0.15);
    border-radius: var(--roundness);
    margin-top: 25px;
    padding: 2px;
    position: absolute;
    z-index: 1;
    text-align: center!important;
    width: 100px;
    top: 150%;
    left: -15px;
    margin-left: -50px;
    transition: var(--return);
}

.back:hover .tooltip {
    visibility: visible!important;
    opacity: 1;
    transition: var(--transition);
    transform: translateY(-20px);
}

.icon-container .tooltip {
    opacity: 0;
    transition: opacity 1s;
}

.icon-container:hover .tooltip {
    visibility: visible!important;
    opacity: 1;
    transition: var(--transition);
    transform: translateY(-20px);
}

.icon-container .tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.15) transparent;
}

#link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 75%;
    max-width: 500px;
    gap: 1em;
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
}

@media (max-width: 570px) {
    #link-list {
        grid-template-columns: 1fr;  
    }
}

#link-list a {
    text-decoration: none;
    display: flex;
    color: inherit;
}

.subtext {
    position: absolute;
    font-size: 0.7em;
    color: white;
    opacity: 0.7;
}

.link-container {
    height: 20px;
    width: 250px;
    position: relative;
    text-align: left;
    cursor: pointer;
    margin: 2em auto 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 99em;
}

.link-container:hover .link-image {
    color: var(--accent-color)!important;
    transition: 0.25s;
}

.link-container:hover .link-title {
    color: var(--accent-color)!important;
    transition: 0.25s;
}

.link-image {
    top: -27;
    position: absolute;
    font-size: 3em;
    transition: 0.25s;
}

.link-text {
    margin-left: 4em;
}

.link-title {
    top: -27;
    position: absolute;
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#link-box {
    background-color:rgba(0, 0, 0, 0.15);
}

/* New */

#title {
    padding-top: 3em;
    color: white;
    font-size: 1em;
    width: 100%;
}

#title-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5em 50px 50px 5em;
    padding: 0.3em 1em;
}

#title-info {
    display: inline-block;
    vertical-align: middle;
    transform: translateX(-10px);
    width: calc(100% - 9em);
}

#title-header {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px 3px var(--accent-color);
}

#title-objects {
    text-align: center;
}

#title-objects #title-item {
    width: fit-content;
    display: inline-block;

    background-color: grey;
    border-radius: 1em;
    padding: 2px 5px;
    font-size: 12px;
    opacity: 0.7;
    transition: 0.5s;
    cursor: default;
}

#title-item:hover {
    background-color: var(--accent-color)!important;
    transform: translateY(-3px);
    transition: 0.5s;
}

@media (max-width: 1080px) {
    #title-image {
        width: 6em!important;
    }
    #title-info {
        width: calc(100% - 7em);
    }
    #title-header {
        font-size: 3em;
    }
}

@media (max-width: 460px) {
    #title-header {
        font-size: 1.8em;
    }
}

#title-image {
    width: 8em;
    border-radius: 999em;
    transform: translateX(-10px);
    display: inline-block;
}

#title-subheader {
    color: grey;
    display: inline-block;
}

/* Root Colors */

:root {
    --roundness: 1vh;
    --transition: 0.25s;
    --return: 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2vh);
    }
    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: BigNoodleTitling;
    src: url(big_noodle_titling.tff)
}

@font-face {
    font-family: BigNoodleTitlingOblique;
    src: url(big_noodle_titling_oblique.ttf)
}

@font-face {
    font-family: AmericanCaptain;
    src: url(american_captain.ttf)
}

@font-face {
    font-family: Signature;
    src: url(signature.ttf)
}