:root {
    --bg-color: #333a45;
    --main-color: #f44c7f;
    --accent-color: #e23d6e;
    --highlight-color: #f44c7f;
    --sub-color: #939eae;
    --text-color: #e9ecf0;
    --searchInput-color: #e9ecf0;
    --search-color: #939eae;
    --contactText-color: #e9ecf0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #e23d6e;
    --button-color: #e9ecf0;
    --button-weight: 700;
}

#footer-left .clickButton img {
  filter: invert(39%) sepia(39%) saturate(1905%) hue-rotate(305deg) brightness(89%) contrast(100%);
  transition: var(--return);
}

#footer-left .clickButton:hover img {
  filter: invert(95%) sepia(2%) saturate(662%) hue-rotate(189deg) brightness(103%) contrast(88%);
  transition: var(--transition);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(66%) sepia(7%) saturate(677%) hue-rotate(176deg) brightness(95%) contrast(82%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}