:root {
    --bg-color: #1b1d36;
    --main-color: #1b1d36;
    --accent-color: #fca6d1;
    --highlight-color: #e48eb9;
    --sub-color: #99d6ea;
    --text-color: #99d6ea;
    --searchInput-color: #e9ecf0;
    --search-color: #99d6ea;
    --contactText-color: #e9ecf0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #99d6ea;
    --button-color: #1b1d36;
    --button-weight: 700;
}

#title {
  color: white;
}

#footer-left .clickButton img {
  filter: invert(94%) sepia(15%) saturate(5029%) hue-rotate(284deg) brightness(95%) contrast(89%);
  transition: var(--return);
}

#footer-left .clickButton:hover img {
  filter: invert(10%) sepia(10%) saturate(3605%) hue-rotate(198deg) brightness(97%) contrast(94%);
  transition: var(--transition);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(82%) sepia(24%) saturate(453%) hue-rotate(151deg) brightness(95%) contrast(93%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}