:root {
    --bg-color: #dae0f5;
    --main-color: #dae0f5;
    --accent-color: #506477;
    --highlight-color: #44586b;
    --sub-color: #92a4be;
    --text-color: #678198;
    --searchInput-color: #92a4be;
    --search-color: #678198;
    --contactText-color: #678198;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #506477;
    --button-color: #dae0f5;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(46%) sepia(54%) saturate(326%) hue-rotate(173deg) brightness(93%) contrast(91%);
}

#title {
    color: #506477;
}

#header-right img {
    filter: invert(40%) sepia(13%) saturate(926%) hue-rotate(168deg) brightness(88%) contrast(85%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}