:root {
    --bg-color: #faf1e4;
    --main-color: #faf1e4;
    --accent-color: #618c56;
    --highlight-color: #4d7444;
    --sub-color: #c2b8aa;
    --text-color: #3c403b;
    --searchInput-color: #618c56;
    --search-color: #c2b8aa;
    --contactText-color: #3c403b;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #618c56;
    --button-color: #faf1e4;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(80%) sepia(4%) saturate(722%) hue-rotate(356deg) brightness(91%) contrast(95%);
}

#title {
    color: #3c403b;
}

#header-right img {
    filter: invert(23%) sepia(7%) saturate(489%) hue-rotate(62deg) brightness(91%) contrast(89%);
}

#themeTop .close {
    filter: invert(32%) sepia(11%) saturate(3158%) hue-rotate(314deg) brightness(111%) contrast(77%);
}

#contactTop .close {
    filter: invert(32%) sepia(11%) saturate(3158%) hue-rotate(314deg) brightness(111%) contrast(77%);
}

#contactWrapper input[type=submit] {
    color: #faf1e4;
    font-weight: 700;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}