:root {
    --bg-color: #323437;
    --main-color: #f05757;
    --accent-color: #f05757;
    --highlight-color: #f05757;
    --sub-color: #5e5e5e;
    --text-color: #e8e8e8;
    --searchInput-color: #e8e8e8;
    --search-color: #5e5e5e;
    --contactText-color: #e8e8e8;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f05757;
    --button-color: #e8e8e8;
    --button-weight: 700;
}

#backgroundTopFill img {
  filter: invert(40%) sepia(51%) saturate(1036%) hue-rotate(318deg) brightness(104%) contrast(89%);
}

#footer-left .clickButton {
  color: var(--sub-color);
  background: none;
  box-shadow: none;
  padding: 0!important;
  margin: 0!important;
  min-width: 5.5em;
}
#footer-left .clickButton:hover {
  color: var(--accent-color);
  background: none;
}

#footer-left .clickButtonContact {
  width: 7em;
}

#footer-left .clickButton img {
  filter: invert(34%) sepia(0%) saturate(643%) hue-rotate(137deg) brightness(99%) contrast(81%);
  transition: var(--return);
}

#footer-left .clickButton:hover img {
  filter: invert(40%) sepia(51%) saturate(1036%) hue-rotate(318deg) brightness(104%) contrast(89%);
  transition: var(--transition);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(40%) sepia(51%) saturate(1036%) hue-rotate(318deg) brightness(104%) contrast(89%);
}

#themeTop .close {
    filter: invert(40%) sepia(51%) saturate(1036%) hue-rotate(318deg) brightness(104%) contrast(89%);
}

#contactTop .close {
    filter: invert(40%) sepia(51%) saturate(1036%) hue-rotate(318deg) brightness(104%) contrast(89%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}