:root {
    --bg-color: #111;
    --main-color: #111;
    --accent-color: #eee;
    --highlight-color: rgb(218, 218, 218);
    --sub-color: #444;
    --text-color: rgb(151, 151, 151);
    --searchInput-color: #eee;
    --search-color: #eee;
    --contactText-color: #eee;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #eee;
    --button-color: #111;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(1);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}