:root {
    --bg-color: #058b8c;
    --main-color: #b63530;
    --accent-color: #b63530;
    --highlight-color: #8b1e1a;
    --sub-color: #255458;
    --text-color: #f7f2ea;
    --searchInput-color: #f7f2ea;
    --search-color: #255458;
    --contactText-color: #f7f2ea;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #255458;
    --button-color: #f7f2ea;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(14%) sepia(40%) saturate(3551%) hue-rotate(342deg) brightness(114%) contrast(100%);
}

#container {
  color: var(--text-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}