:root {
    --bg-color: #282a36;
    --main-color: #bd93f9;
    --accent-color: #bd93f9;
    --highlight-color: #a77edf;
    --sub-color: #bd93f9;
    --text-color: #f2f2f2;
    --searchInput-color: #f2f2f2;
    --search-color: #bd93f9;
    --contactText-color: #f2f2f2;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #f2f2f2;
    --button-color: #f2f2f2;
    --button-weight: 700;
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(69%) sepia(23%) saturate(4668%) hue-rotate(213deg) brightness(102%) contrast(95%);
}

#header-left #title {
  text-shadow: 0.2vh 0.2vh 1px var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}