:root {
    --bg-color: #191826;
    --main-color: #c0d036;
    --accent-color: #c0d036;
    --highlight-color: #f6ffa3;
    --sub-color: #5c6c80;
    --text-color: #c1c7d7;
    --searchInput-color: #c0d036;
    --search-color: #5c6c80;
    --contactText-color: #5c6c80;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #c0d036;
    --button-color: #d8e750;
    --button-weight: 700;
}

#title {
  color: white;
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(42%) sepia(41%) saturate(245%) hue-rotate(173deg) brightness(87%) contrast(87%);
}

.myContainer {
  color: white;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}