:root {
    --bg-color: #07737a;
    --main-color: #88dbdf;
    --accent-color: #88dbdf;
    --highlight-color: #fff171;
    --sub-color: #88dbdf;
    --text-color: #ffffff;
    --searchInput-color: #f3e03b;
    --search-color:#88dbdf;
    --contactText-color: #ffffff;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #88dbdf;
    --button-color: #f3e03b;
    --button-weight: 700;
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeBottom #selected {
  color: var(--highlight-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
    filter: invert(39%) sepia(9%) saturate(1982%) hue-rotate(177deg) brightness(97%) contrast(87%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}