:root {
    --bg-color: #84202c;
    --main-color: #55131b;
    --accent-color: #55131b;
    --highlight-color: #ebc395;
    --sub-color: #3f0c12;
    --text-color: #e2dad0;
    --searchInput-color: #ffffff;
    --search-color:#e2dad0;
    --contactText-color: #e2dad0;
    --contactBg-color: rgba(0,0,0,0.15);
    --contactSubmit-color: #c79e6e;
    --button-color: #c79e6e;
    --button-weight: 700;
}

#my-portfolio #portfolio-items .portfolio-obj .portfolio-bottom a:hover {
    background-color: var(--highlight-color);
}

#versionBottom .versionTitle {
    color: var(--highlight-color);
}

#versionBottom .releaseDate {
    color: var(--highlight-color);
}

#themeWrapper #theme #themeBottom #selected {
    color: var(--highlight-color);
}

#footer-left .clickButton {
    color: var(--sub-color);
}

#themeWrapper #theme #themeTop .themeSearch img {
  filter: invert(97%) sepia(7%) saturate(449%) hue-rotate(329deg) brightness(92%) contrast(93%);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: var(--roundness);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}